{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CairoCoinPlus</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="icon" type="image/png" href="{% static 'CairoCoinPlus/images/favicon.png' %}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
        <link href="{% static 'CairoCoinPlus/css/api-center/web/styles.css' %}" rel="stylesheet" />
        
    </head>
    <body id="body-pd" class="bg-light">
        <!-- Loader -->
        <div class="loader-wrapper" id="loader">
            <div class="center-container">
                <div class="logo-container-loader">
                    <img src="{% static 'CairoCoinPlus/images/logolight.svg' %}" alt="Logo" />
                </div>
                <section class="dots-container">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </section>
            </div>
        </div>

        {% include "CairoCoinPlus/api-center/web/topNav.html" %}

        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <div class="nav_logo">
                        <img src="{% static 'CairoCoinPlus/images/logoNameLight.svg' %}" height="30" />
                    </div>
                    <div class="nav_list">
                        <a href="#" id="home_click" class="nav_link">
                            <i class="bx bx-grid-alt nav_icon"></i>
                            <span class="nav_name">Home</span>
                        </a>
                        <a href="#" id="keys_click" class="nav_link">
                            <i class="bx bx-key nav_icon"></i>
                            <span class="nav_name">API Keys</span>
                        </a>
                        <a href="#" id="usage_click" class="nav_link">
                            <i class="bx bx-bar-chart-alt-2 nav_icon"></i>
                            <span class="nav_name">Usage</span>
                        </a>
                        <a href="#" id="plan_click" class="nav_link">
                            <i class="bx bx-wallet nav_icon"></i>
                            <span class="nav_name">My Plan</span>
                        </a>
                        <a href="#" id="docs_click" class="nav_link">
                            <i class="bx bx-library nav_icon"></i>
                            <span class="nav_name">Documentation</span>
                        </a>
                    </div>
                </div>
                <a href="{% url 'logout' %}" class="nav_link" onclick="handleLogout()">
                    <i class="bx bx-log-out nav_icon"></i>
                    <span class="nav_name">LogOut</span>
                </a>
            </nav>
        </div>
        <noscript>
            <p>Please enable JavaScript to continue.</p>
        </noscript>
        <div id="hide_body"></div>
        <div id="reload" onclick="reload_part()">
            <i class="bx bx-sync"></i>
        </div>
        <!--Container Main start-->
        <div class="height-100">
            <div id="home" style="display: none">{% include "CairoCoinPlus/api-center/web/home.html" %}</div>

            <div id="keys" class="pt-3" style="display: none"></div>

            <div id="usage" style="display: none">your usage</div>

            <div id="plan" style="display: none">your plan</div>

            <div id="docs" style="display: none">Documentation</div>
        </div>

        <script src="{% static 'CairoCoinPlus/lib/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'CairoCoinPlus/lib/apex/js/apexcharts.min.js' %}"></script>
        <script src="{% static 'CairoCoinPlus/js/api-center/web/main.js' %}"></script>
        <script src="{% static 'CairoCoinPlus/js/api-center/web/topNav.js' %}"></script>
        <script src="{% static 'CairoCoinPlus/js/api-center/web/home.js' %}"></script>
        <script src="{% static 'CairoCoinPlus/js/api-center/web/keys.js' %}"></script>
        <script src="{% static 'CairoCoinPlus/js/api-center/web/usage.js' %}"></script>
        <script src="{% static 'CairoCoinPlus/js/api-center/web/plan.js' %}"></script>
        <script src="{% static 'CairoCoinPlus/js/api-center/web/docs.js' %}"></script>
    </body>
</html>